/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #108301;
}
body {
  box-sizing: border-box;
  background-image: url('img/tile.jpg');
  background-size: auto;
  margin: 0 auto;
}
body header .bckimg {
  background-image: url('img/title.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  margin-top: 50px;
}
body main {
  background-image: url('img/formbg.jpg');
  border: 20px solid #262626;
  border-radius: 280px;
  background-size: contain;
  margin-top: 25px;
  padding: 5px;
}
body main .container .title {
  padding-top: 35px;
  margin-bottom: 35px;
}
body main .newTask-text-center {
  margin-right: 40px;
}
body main .newTask-text-padding {
  padding-top: 20px;
}
body main .newTask-text-padding #textTask {
  background: transparent;
  color: black;
  resize: none;
  border: 0 none;
  width: 100%;
  font-size: 2.7em;
  outline: none;
  height: 100%;
}
body main #headerNewTask {
  background-color: #007bff;
  border-radius: 50px 10px;
  max-width: 200px;
  text-align: center;
}
body main .alertNotification {
  display: none;
  margin-top: 5px;
  border: 1px solid red;
  border-radius: 10px 50px;
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
  text-align: center;
  font-style: italic;
  max-width: 250px;
}
body footer {
  margin-top: 30px;
}
body footer .expiredDate {
  display: none;
  border: 1px solid red;
  border-radius: 10px 50px;
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
  text-align: center;
  font-style: italic;
  max-width: 180px;
}
body footer .showExpiredDate:hover .expiredDate {
  display: block;
}
body footer .invisi {
  transition: 0.4s ease-in;
  opacity: 0;
}
body footer .visi {
  transition: 0.4s ease-in;
  opacity: 1;
}
body footer .notes-img {
  background-image: url('img/notebg.png');
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 200px;
  min-height: 250px;
  max-width: 200px;
  max-height: 250px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 35px;
  padding-right: 2%;
}
body footer .notes-img .note {
  background: transparent;
  color: black;
  resize: none;
  border: 0 none;
  width: 100%;
  outline: none;
  height: 100%;
}
body footer .notes-img .underline {
  border-bottom: 1px solid black;
}
body footer .notes-img #textNote {
  background: transparent;
  color: black;
  resize: none;
  border: 0 none;
  outline: none;
  overflow-y: auto;
  max-width: 150px;
  min-height: 130px;
  max-height: 110px;
}
body footer .show-remove:hover .remove,
body footer .show-remove:hover .editNote {
  display: block;
  max-width: 200px;
  min-width: 14px;
  float: right;
}
body footer .sm-height {
  max-width: 105.5px;
}
body footer .trash-place {
  padding-right: 21%;
  padding-left: 13%;
  margin-bottom: 4%;
  max-width: 105.5px;
}
body footer .trash-place .remove {
  display: none;
  cursor: pointer;
}
body footer .trash-place .editNote {
  display: none;
  cursor: pointer;
  padding-right: 3px;
}
body footer .copyright {
  background-color: #333333;
  color: white;
  border-radius: 50px;
  text-align: center;
}
body footer #gitHub {
  width: 50px;
  margin-top: -20px;
}
